<p>
    Aquí va el componente NOTAS
  </p>
  <button (click)="logout()" type="button" class="btn btn-outline-danger">cerrar sesion</button>
  <div class="notes">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Nota 20%</th>
          <th scope="col">Nota 20%</th>
          <th scope="col">Nota 20%</th>
          <th scope="col">Nota 20%</th>
          <th scope="col">Nota 20%</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Alberto</td>
          <td>Zapata</td>
          <td>#</td>
          <td>#</td>
          <td>#</td>
          <td>#</td>
          <td>#</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Adriana</td>
          <td>Velez</td>
          <td>#</td>
          <td>#</td>
          <td>#</td>
          <td>#</td>
          <td>#</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Maria</td>
          <td>Arango</td>
          <td>#</td>
          <td>#</td>
          <td>#</td>
          <td>#</td>
          <td>#</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Juan</td>
          <td>Saldarriaga</td>
          <td>#</td>
          <td>#</td>
          <td>#</td>
          <td>#</td>
          <td>#</td>
        </tr>
      </tbody>
    </table>
  </div>
