<div class="showNotes">
    <div class="info">
      <div class="institution">
        <img src="/assets/logo.jpg" alt="" srcset="">
        <p>Institución Educativa Mutata</p>
      </div>
      <div class="student">
        <button (click)="show = 0" type="button" class="btn btn-info">Ver notas</button>
        <button (click)="show = 1" type="button" class="btn btn-info">Información</button>
        <button (click)="show = 2" type="button" class="btn btn-info">Calendario</button>
        <button (click)="show = 3" type="button" class="btn btn-info">Eventos</button>
        <button (click)="show = 4" type="button" class="btn btn-info">Uniformes</button>
      </div>
    </div>
    <div class="viewStudent">
      <div class="logout">
        <button (click)="logout()" type="button" class="btn btn-outline-danger">Salir de la aplicación</button>
      </div>
      <div *ngIf="studentsList" class="notes">
        <h3>Software de gestion escolar</h3>
        <div *ngIf="show === 0" class="student">
          <table *ngIf="currentStudent" class="table">
            <thead>
              <tr>
                <th scope="col">Identificación</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Grado</th>
                <th scope="col">Año</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{ currentStudent.studentDoc }}</th>
                <td>{{ currentStudent.name }}</td>
                <td>{{ currentStudent.lastName }}</td>
                <td>8-B</td>
                <td>2018</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="show === 0" class="view">
          <table *ngIf="subjects" class="table">
            <thead>
              <tr>
                <th scope="col">Asignatura</th>
                <th scope="col">Primer periodo</th>
                <th scope="col">Segundo periodo</th>
                <th scope="col">Tercer periodo</th>
                <th scope="col">Cuarto periodo</th>
              </tr>
            </thead>
            <tbody *ngIf="notesBySubject">
              <tr *ngFor="let period of notesBySubject">
                <th  scope="row">{{ period.name }}</th>
                <td *ngFor="let note of period.notes">{{ note | number:'1.0-1' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="show === 1">
          <img src="/assets/info.jpg">
        </div>
        <div *ngIf="show === 2">
          <img src="/assets/calendar.jpeg" style="width: 80%">
        </div>
        <div *ngIf="show === 3">
          <img src="/assets/event.jpg" style="width: 80%">
        </div>
        <div *ngIf="show === 4">
          <img src="/assets/uniforms.png">
        </div>
      </div>
    </div>
  </div>
  