<div class="auth">

  <div class="imagen">
    <img src="../../../assets/iemutata.jpg">
  </div>

  <div class="login">

    <div class="title">
      <h2>¡Bienvenido! Institución Educativa Mutatá</h2>
    </div>

    <form class="msform" id="msform">

      <fieldset>
        <h2 class="fs-title">Crear una cuenta</h2>
        <h3 class="fs-subtitle">Este es el paso 1</h3>
        <input type="text" name="email" placeholder="Email" />
        <input type="password" name="pass" placeholder="Password" />
        <input type="password" name="cpass" placeholder="Confirm Password" />
        <input type="button" name="next" class="next action-button" value="Next" />
      </fieldset>
      <fieldset>
        <h2 class="fs-title">Perfil red social</h2>
        <h3 class="fs-subtitle">Tu presencia en la red social</h3>
        <input type="text" name="twitter" placeholder="Twitter" />
        <input type="text" name="facebook" placeholder="Facebook" />
        <input type="text" name="gplus" placeholder="Google Plus" />
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="button" name="next" class="next action-button" value="Next" />
      </fieldset>
      <fieldset>
        <h2 class="fs-title">Datos personales</h2>
        <h3 class="fs-subtitle">Nunca lo venderemos</h3>
        <input type="text" name="fname" placeholder="First Name" />
        <input type="text" name="lname" placeholder="Last Name" />
        <input type="text" name="phone" placeholder="Phone" />
        <textarea name="address" placeholder="Address"></textarea>
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="submit" name="submit" class="submit action-button" value="Submit" />
      </fieldset>
    </form>

    <div class="socilaMedia">
      <button class="btn facebook" data-provider="facebook">
        <i></i>
        <span>Facebook</span>
      </button>
      <button class="btn twitter" data-provider="twitter">
        <i></i>
        <span>Twitter</span>
      </button>
      <button class="btn plus" data-provider="google plus">
        <span class="i">
          <i></i>
        </span>
        <span>Google</span>
      </button>
    </div>

  </div>

</div>
