.auth {
  width: 100%;
  height: 100 vh;
  display: flex;
  flex-wrap: wrap;
}

.auth .imagen {
  width: 50%;
}

.auth .imagen > img {
  width: 100%;
  height: 100%;
}

.auth .login {
  width: 50%;
}

.auth .login .title {
  background-color: #00a650;
  color: white;
  width: 100%;
  height: 10%;
  padding-top: 5%;
  text-align: center;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

.auth .login .socialMedia {
  width: 100%;
}

.btn {
  width: 30%;
  border-radius: 9px;
  color: #FFF;
  cursor: pointer;
  box-shadow: 2px 2px 2px gray;
  height: 40px;
  text-align: left;
  position: relative;
  margin: 0 1.6%;
}

.btn span {
  font-size: 16px;
  line-height: 40px;
}

.btn:active {
  top: 1px;
  box-shadow: 1px 1px 2px #000;
}

.btn i {
  margin-right: 10px
}

.facebook {
  background-color: #3B5998;
}

.facebook i {
  float: left;
  width: 44px;
  height: 40px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAoCAYAAACFFRgXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAN1JREFUeNpi/P//P8NQAoyjDh518KiDRx086uBh62AtIOZE4r8A4qcUmwpyMJWxKxA//I8J2qlhPguVQ9UMiLcAMRutoo2Jyub10tKxtEjDb4FYCIn/C4jXA/FHIN4BZQ8qB38AYn4k/kQgLhjMSQIdfB/saXhIlMMGQDwHic2MJHcBiE8h8ZsoLYup4WAbID5MhLq/QMxLaTKhZ5K4SY00TU8HX6CKKVSulh/SojpGxkOulBh18KiDRx086uDRxg9eoIvW46BOx3O0mz/q4FEHjzp41MGjDiYXAAQYAJmVcB6iaE2HAAAAAElFTkSuQmCC") no-repeat center center;
}

.twitter {
  background-color: #1CB5E8;
}

.twitter i {
  float: left;
  width: 44px;
  height: 40px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAoCAYAAACFFRgXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAi5JREFUeNrs2M1LVFEYx3GvDoWvEKSMhhqBSrhQjCwXRuDKjbVoIYgQbVy0CXduWgT+BS5cSgUJvdmmVb4giIHRSpTEUjcGLnwtDUy7fQ88wnVQ5zlzzyyE88AHFY7n/uaZc+85M0EYhjnnqXJzzln5wD6wD+wD+8DWdRV9+IxFfMRDFETGFKFBNZvZ6ZTuotFivHELX/EvPF4HeIU6tGEEzzRzai9chHG5eJXyf2qwEJ5dO/JzCmWaebVLogQVaMJ7NKcZn4cnqE0zrhjbWECvyzUcSAhTN/ABj3HhlPGluK+c26zlLqy5XMMlGE15O826nEYnLiOIjK89Yd2eVht4oL0vEsou7OAN2lK63iLm8Akz+IFL+HvGOxCtbxjXPnISFuNe4yYeSdho1QtTm/gdWUKaynP9HE5iQH5fTzPWdLfSIsRP7Lru8B6uy1Pi0PHG8l3md9rhDby0ffs09zzms7U1v8A7x91dli07K4FNl3vQj1XpTtyalCWRtcOPWWtLcqG9mGHNo/K57QtPWF5kH/fQ4aC7I/LCLVe93enLqMaXMF4tWRyiMjqtnRR6EKv4Yxl2C+0ZXjfjwEeuYdgi7C664lxTOzA35e+kHLzfYl8Zdg3dMRukvunuoBX5svU2y66nrTE8xXTcO1Ub2Oz3F+WzWLnF/BMYkvPzLxc7TWD57WVSDvCm47dxBYXyPD+QUCvSSRN2Flsut8bAf93qA/vAPrAP7APb1H8BBgDZp0G+vm9PBgAAAABJRU5ErkJggg==") no-repeat center center;
}

.plus {
  padding-left: 54px;
  background-color: #db4437;
}

.plus .i {
  border-radius: 3px;
  position: absolute;
  width: 44px;
  left: 0;
  top: 4px;
  line-height: 26px;
}

.plus i:before {
  content: "g";
  font: 26px "Palatino Linotype", Georgia, serif;
  text-shadow: 1px 1px 1px #444;
  line-height: 0px;
  margin-left: 10px;
}

.plus i:after {
  width: 11px;
  font: 18px "Palatino Linotype", Georgia, serif;
  line-height: 38px;
  position: absolute;
  top: -8px;
  left: 12px;
  height: 8px;
}



.msform {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

.msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  position: relative;
}

.msform fieldset:not(:first-of-type) {
  display: none;
}

.msform input,
.msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}

.msform .action-button {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

.msform .action-button:hover,
.msform .action-button:focus {
  background-color: greenyellow;
}

.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

.progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;
}

.progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
}

.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}

.progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active:before,
.progressbar li.active:after {
  background: #27AE60;
  color: white;
}
