<div class="showNotes">
    <div class="info">
      <div class="institution">
        <img src="/assets/logo.jpg" alt="" srcset="">
        <p>Institución Educativa Mutata</p>
      </div>
      <div class="student">
        <button type="button" class="btn btn-info">Información</button>
        <button type="button" class="btn btn-info">Calendario</button>
        <button type="button" class="btn btn-info">Eventos</button>
        <button type="button" class="btn btn-info">Reuniones</button>
        <button type="button" class="btn btn-info">Uniformes</button>
      </div>
    </div>
    <div class="viewStudent">
      <div class="logout">
        <div *ngIf="studentsList" class="input-group mb-3">
          <select [(ngModel)]="currentStudent" class="custom-select" id="inputGroupSelect01" name="currentStudent">
            <option selected>Listado de estudiantes</option>
            <option [ngValue]="student" *ngFor="let student of studentsList">
              {{ student.name }} {{ student.lastName }}
            </option>
          </select>
        </div>
        <button (click)="logout()" type="button" class="btn btn-outline-danger">Salir de la aplicación</button>
      </div>
      <div class="notes">
        <h3>Software de gestion escolar</h3>
        <div class="student">
        </div>
        <div class="view">
          <form>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="inputState">Asignatura</label>
                <select [(ngModel)]="currentSubject" class="form-control" name="currentSubject">
                  <option selected>Seleccionar</option>
                  <option [ngValue]="'Matemáticas'">Matemáticas</option>
                  <option [ngValue]="'Sociales'">Sociales</option>
                  <option [ngValue]="'Español'">Español</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">Periodo academico</label>
                <select [(ngModel)]="currentPeriod" class="form-control" name="currentPeriod">
                  <option selected>Seleccionar</option>
                  <option [ngValue]="'Primero'">Primero</option>
                  <option [ngValue]="'Segundo'">Segundo</option>
                  <option [ngValue]="'Tercero'">Tercero</option>
                  <option [ngValue]="'Cuarto'">Cuarto</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label></label>
                <div class="alert alert-info" role="alert">
                  Nota definitiva: {{ totalNote | number: '1.0-1' }}
                </div>
              </div>
            </div>
          </form>
          <br><br>
          <div class="form-row">
            <div class="form-group col-md-2">
              <label>Talleres</label>
              <input [(ngModel)]="noteOne" type="number" class="form-control">
            </div>
            <div class="form-group col-md-2">
              <label>Examenes</label>
              <input [(ngModel)]="noteTwo" type="number" class="form-control">
            </div>
            <div class="form-group col-md-2">
              <label>Exposiciones</label>
              <input [(ngModel)]="noteThree" type="number" class="form-control">
            </div>
            <div class="form-group col-md-2">
              <label>Tareas</label>
              <input [(ngModel)]="noteFour" type="number" class="form-control">
            </div>
            <div class="form-group col-md-2">
              <label>Quices</label>
              <input [(ngModel)]="noteFive" type="number" class="form-control">
            </div>
            <div class="form-group col-md-2">
              <label></label>
              <button (click)="averageNotes(); saveNotesCurrentStudent()" type="button" class="btn btn-outline-info">
                Promediar nota
                <br>
                subir a la BBDD
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  